@import './utilities/color';
@import './normalize/reset';
@import './normalize/textos';
@import './layout/flex';
@import './normalize/estilos';
@import './layout/molding';
@import './normalize/medias';
@import './components/formulario';
@import './components/foto';
@import './components/navegador';
@import './components/card';
@import './components/carrousel';