@import "utilities/color";
@import "layout/flex";
@import "components/navegador";
@import "layout/molding";
@import "components/formulario";
@import "components/foto";
@import "components/textos";

.cuadro{
    background-color: none;
    width: 7cm;
    margin-left: 30cm;
    margin-top: 2cm;
  }
  .fondo{
    background-image: url(../assets/img/collage.jpeg);
    background-size: auto;
    background-repeat: no-repeat;
  }
  