.formulario{
    width: 10cm;
    height: 8cm;
}
.link{
    color: $secundario;

    &:hover{
        background-color: $primario;
    }
}
.rectangulo{
    background-color: $terciario;
    border-style: double;
}
.bord{
    padding: 1cm;
}
.const{
    text-decoration: underline;
}