.formulario{
    width: 10cm;
    height: 10cm;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}
.link{
    color: $secundario;

    &:hover{
        background-color: $primario;
    }
}
.rectangulo{
    background-color: $terciario;
    border-style: double;
}
.bord{
    padding: 1cm;
}
.const{
    text-decoration: underline;
}
.boxM{
    width: 8cm;
    height: 2cm;
}
.box{
    width: 8cm;
}