.foto{
    width: 7cm;
    height: 7cm;
    margin-top: 0.5cm;
 }
 .fototamanio{
    height: 15cm;
    width: 8cm;
    padding: 0%;
    align-content: center;
 }
 .medidas{
    width: 30cm;
    margin-left: 4cm;
 }
